@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/HELVETICA.TTF") format("truetype");
}

:root {
  /* Color */
  --color-primary: #263056;
  --color-primary-two: #161d3a;
  --color-secundary: #5c6480;
  --color-background: #fbfbfb;
  --color-font: #cccccc;

  /* Fonts */
  --body-fonts: "Helvetica Bold", sans-serif;
}
