:root {
  /* Color */
  --color-primary: #1E1E1E;
  --color-primary-two: #6E6E6E;
  --color-secundary: #6E6E6E;
  --color-background: #fbfbfb;
  --color-font: #cccccc;
  --color-hover: #1c1664;

  
  /* Fonts */
 font-family: "Helvetica", sans-serif;
}
