.boletoContainer {
    width: 100%;
    border: 1px solid var(--color-primary);
    padding: 10px;
}

.boletoContainer .head-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.boletoContainer .head-content .head-text h2{
    font-size: 18px;
}
.boletoContainer .head-content .logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boletoContainer .head-content .logo img {
    width: 40px;
    height: 34px;
}

.boletoContainer .mid-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid var(--color-primary);
}

.boletoContainer .mid-content .item{
    border: 1px solid var(--color-primary);
    border-right: 0;
    height: 40px;
    width: 100%;
}
.boletoContainer .mid-content .item p{
    font-size: 12px;
}
.boletoContainer .mid-content .right-side{
    border: 1px solid var(--color-primary);
    border-right: 0;
}
.boletoContainer .mid-content .right-side h2{
    font-size: 14px;
    margin: 0;
}
.boletoContainer .mid-content .right-side .item-flex{
    display: flex;
    width: 100%;
}
.boletoContainer .mid-content .right-side .instruction p{
    font-size: 12px;
    margin: 5px;
}
.boletoContainer .mid-content .right-side .instruction h3{
    font-size: 14px;
    margin: 0 5px;
}




@media(max-width:925px) {
    .container .row-cn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container .row-4 {
        flex-direction: column;
        margin: 0;
    }

    .container .row-4 .component {
        margin: 1rem 0;
    }
}