.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 4rem;
}
.btn{
  display: flex;
  justify-content: flex-end;
}
.btn .go{
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  color: #fff;
  background: rgba(52, 184, 52, 0.808);
  cursor: pointer;
}
.btn .go:hover{
  background: rgba(26, 105, 26, 0.808);
}
.btn .back{
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  background: rgb(223, 49, 49);
  color: #fff;
  cursor: pointer;
}
.btn .back:hover{
  background: rgb(172, 17, 17);
}