
.form .btn{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.form .btn .go{
    padding: 10px 14px;
    margin-left: 6px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background: #0be616;
}
.form .btn .go:hover{
    background: #0d9214;
}
.form .btn .back{
    padding: 10px 16px;
    border: 0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    background: #e60b0b;
}
.form .btn .back:hover{
    background: #a50f0f;
}
.form .subtitle{
    font-size: 18px;
    font-weight: 500;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container .row{
    width: 100%;
    border: 1px solid #000;
}
.container .row-1, .row-2, .row-3, .row-4 {
    width: 100%;
    display: flex;
    margin: 2rem 0;
}
.container .row-1 input:first-child{
    height: 35px;
    width: 100%;
    border-radius: 10px;
}
.container .row-1 input{
    height: 35px;
    border-radius: 10px;
}

.container .row-2 input{
    height: 35px;
    width: 100%;
    border-radius: 10px;
}
.container .row-3 input{
    height: 35px;
    width: 100%;
    border-radius: 10px;
}

.container .row-4 .component{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container .row-4 .component h2, p{
    margin: 0;
}
.container .row-4 .component h2{
    font-size: 18px;
}


@media(max-width:925px){
    .container .row-1 , .row-2 , .row-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container .row-4{
        flex-direction: column;
        margin: 0;
    }
    .container .row-4 .component{
        margin: 1rem 0;
    }
}