.container-box {
  display: flex;
  /* overflow: scroll;
  overflow-y: hidden; */
  flex-wrap: wrap;
}
.container-box::-webkit-scrollbar {
  width: 3rem;
}
.container-box::-webkit-scrollbar-thumb {
  background: var(--color-secundary);
  border-radius: 10px;
}
.container-box > .box {
  flex: 1 0 300px;
}
.container-box .box {
  width: 500px;
  height: 130px;
  background: var(--color-primary);
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.container-box .box:hover {
  background: var(--color-hover);
  color: var(--color-primary);
  cursor: pointer;
}
.container-box .box h1 {
  font-size: 18px;
  color: #e4e4e4;
}
.container-box .box p {
  font-size: 28px;
  color: #e4e4e4;
}
